<div class="mat-elevation-z8">
  <table mat-table style="min-width: 850px " class="full-width-table" [dataSource]="dataSource">
    
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [disabled]="row.approved">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef>Item</th>
      <td mat-cell *matCellDef="let row">
        {{row.item_id.name}}
        <small>{{row.item_id.mol_formula}}</small>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Intender</th>
      <td mat-cell *matCellDef="let row">{{row.intender_id.name}}</td>
    </ng-container>

    <ng-container matColumnDef="subject">mat-sort-header
      <th mat-header-cell *matHeaderCellDef>Subject</th>
      <td mat-cell *matCellDef="let row">{{row.subject_code}}</td>
    </ng-container>

    <ng-container matColumnDef="use">
      <th mat-header-cell *matHeaderCellDef>Use</th>
      <td mat-cell *matCellDef="let row">{{row.intended_use}}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let row">{{row.quantity.value}} {{row.quantity.unit}}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let row">{{row.date | date:'short'}}</td>
    </ng-container>

    <ng-container matColumnDef="approved">
      <th mat-header-cell *matHeaderCellDef>Approved</th>
      <td mat-cell *matCellDef="let row">
        <span *ngIf="row.approved" class="badge badge--approved">Approved</span>
        <span *ngIf="!row.approved" class="badge badge--pending">Pending</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    (click)="selection.toggle(row)"></tr>
  </table>

  <mat-paginator #paginator
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[50, 100, 250]">
  </mat-paginator>

</div>
<br>
<br>
<div>
  <button fxLayout fxLayoutAlign="center center" [disabled]="!selection.hasValue()" mat-raised-button color="accent" (click)="approve()">Approve</button>
</div>
