<!-- <div style="min-height: 100vh;" fxLayout fxLayoutAlign="center center"> -->
<div fxFlex="1 0">
<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-subtitle class="subtitle">Please enter your credentials</mat-card-subtitle>
  <mat-card-content>
  <form [formGroup]="loginForm">
      <div fxLayout="column" >
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Username</mat-label>
          <input formControlName="username" type="text" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-field">
            <mat-label>Password</mat-label>
            <input formControlName="password" type="password" matInput>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="10px">
          <button fxFlex="50" mat-raised-button color="accent" (click)="login()">Login</button>
          <button fxFlex="50" mat-raised-button>Reset</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
</div>